.dialog-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #000;
  border-left: 3px solid #eee;

  &:last-child {
    margin-bottom: 0;
  }

  &--selected {
    border-color: cornflowerblue;
    background: #fff;
  }

  &__caption {
    font-weight: bold;
  }
}
